@model List<TblCari> 
<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Cariler</h5>
            <form class="ms-auto position-relative">
                <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-search"></i></div>
                <input class="form-control ps-5" type="text" placeholder="search">
            </form>
        </div>
        <div class="table-responsive mt-3">
            <table class="table align-middle">
                <thead class="table-light">
                    <tr>
                        <th>AD SOYAD</th>
                        <th>ADRES</th>
                        <th>TELEFON</th>
                        <th>E-MAİL</th>
                        <th>BAKİYE</th>
                        <th>KAYIT TARİHİ</th>
                        <th>İŞLEMLER</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Unvan</td>
                            <td>@item.Adres</td>
                            <td>@item.Telefon</td>
                            <td>@item.Eposta</td>
                            <td> <span class="badge @(item.Bakiye>0 ? "text-success" : "text-danger")  me-1">@(item.Bakiye > 0 ? "+" : "-")@item.Bakiye </span></td>
                            <td>@string.Format("{0:D}", item.OlusturmaTarihi)</td>
                            <td>
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                    <a href="/Urun/UrunBilgi/@item.Id" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Views"><i class="bi bi-list"></i></a>
                                    <a href="/Cari/CariForm/@item.Id" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="/Cari/CariSil/@item.Id" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>